html { font-size: 62.5% }

body {
  font-family: Merriweather, 'PT Serif', Georgia, 'Times New Roman', serif;
  color: #333;
}

body {
  line-height: 1.4em;
  font-size: 1.4rem
}

h1 {
  font-size: 4rem;
  text-decoration: none;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 2.0rem;
  line-height: 3.6rem;
}

h1,h2,h3,h4,h5,h6 {
  color: #333;
  font-weight: bold;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: #333;
  text-decoration: none;
}

h1.post-title {
  color: #336699;
}

h1.post-title a {
  color: #333;
}
 
h1.post-title a:hover {
  background: inherit;  
  color: #336699;
}

code {
    padding: 2px 4px;
    color: #336699;
    background-color: #c8e3ff;
    white-space: nowrap;
    border-radius: 4px
}

span.post-date {
  color: #7a7a7a;
  text-decoration: none;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 1.5em;
}

a.more,
a.nav-next,
a.nav-previous {
  background: #333;
  color: #fff;
  padding: 5px;
  text-decoration: none;

}

a.more {
  background: #333;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

a.lightbox-link:hover {
  background: inherit;
  text-decoration: none;
}

a.more:hover,
a.nav-next:hover,
a.nav-previous:hover {
  background: #336699;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

a {
  color: #336699;
  text-decoration: underline;
}

a:hover {
  background: #336699;
  color: #fff;
  text-decoration: none;
}

div#pagination {
  margin-top: 15px;
  margin-bottom: 15px;
}

div#header {
  border-bottom: 1px solid #7a7a7a;
}

div#header h1, 
div#header h5 {
  border-bottom: none;
}

div#header a {
  text-decoration: none;
}

div#footer {
  margin-top: 15px;
  border-top: 5px solid #333;
  padding-top: 15px;
}

div#footer li {
  list-style-type: none;
  padding: 5px 0;
}


div#license {
  margin: 15px 0;
}

div.hr {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dotted #333;
}

article,
div#article {
  padding-bottom: 5px;
  border-bottom: 1px solid #f3f3f3;
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}
