div.social ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

div.social ul li {
  display: inline-block
}

div.social a {
  padding-right: 0.4rem;
}

div#license {
  clear: both;
  font-size: 0.5rem;
}
