<div class="container">

    <div id="footer" class="row">

        <div class="col-md-8">
            <h4>About Me</h4>
            <p><a href="/about">I'm</a> an Edinburgh based ops/dev engineer working for <a href="http://www.fanduel.com" rel="co-worker met">FanDuel</a>.  An <a href="https://aws.amazon.com">AWS</a> aficianado and recovering PHP developer, I've learned to love Ruby and <a href="http://www.getchef.com">Chef</a>.  I'm a fan of <a href="http://en.wikipedia.org/wiki/Open_source">open source software</a> and <a href="http://en.wikipedia.org/wiki/Open_data">open-data</a>.  I live in Edinburgh, UK with my wife <a href="http://twitter.com/mrsjmanders" rel="met spouse">Jo</a> and our two cats, Ziggy and Maggie.  I'm a co-organiser of <a href="http://www.whiskyweb.co.uk">Whisky Web</a> and an amateur trombonist.</p>
            <a class="pull-right more" href="/about">[ &hellip; ]</a>
        </div>

        <div class="col-md-4">
            <ul>
                <li>
                    <img alt="Pinboard" src="/img/link.png" />
                    <a href="http://www.pinboard.in/u:maxmanders/" title="maxmanders on Pinboard">Pinboard</a>
                </li>
                <li>
                    <img alt="Flickr" src="/img/picture.png" />
                    <a href="http://www.flickr.com/photos/maxmanders" title="maxmanders on Flickr">Flickr</a>
                </li>
                <li>
                    <img alt="Last.FM" src="/img/song.png" />
                    <a href="http://www.last.fm/user/mmanders" title="mmanders on Last.FM">Last.FM</a>
                </li>
                <li>
                    <img alt="Twitter" src="/img/message.png" />
                    <a href="http://www.twitter.com/maxmanders" title="maxmanders on Twitter">Twitter</a>
                </li>
                <li>
                    <img alt="Github" src="/img/github.png" />
                    <a href="http://www.github.com/maxmanders" title="maxmanders on Github">Github</a>
                </li>
                <li>
                    <img alt="LinkedIn" src="/img/linkedin.png" />
                    <a href="https://uk.linkedin.com/in/maxmanders" title="maxmanders on LinkedIn">LinkedIn</a>
                </li>
                <li>
                    <img alt="RSS" src="/img/maxmanders.png" />
                    <a href="http://maxmanders.co.uk/feed/rss.xml" title="maxmanders.co.uk RSS">RSS</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-md-8">
            <h4>Contact</h4>
            <p>If you want to get in touch, you can send an email to my-first-name [at] this site.</p>
        </div>
    </div>

    <div class="row hr">
        <div class="text-center col-md-12">
            <img src="/img/Solutions-Architect-Associate.png" alt="AWS Certified Solutions Architect" />
            <img src="/img/SysOps-Administrator-Associate.png" alt="AWS Certified SysOps Administrator" />
        </div>
    </div>

    <div class="row">
        <div class="text-center col-md-12">
            <a href="http://fre.ag/42lhe94m" title="Small Business Online Accounting"><img src="http://www.freeagent.com/images/i-heart-fa.png" width="205" height="85" alt="FreeAgent Small Business Online Accounting" /></a>
        </div>
    </div>

    <div class="row" id="license">
        <div class="text-center col-md-12">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
            <span>&nbsp; This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</span>
        </div>
    </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
  var pageTracker = _gat._getTracker("UA-1652642-1");
  pageTracker._trackPageview();
} catch(err) {}
</script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/js/jquery-1.11.0.min.map" type="text/javascript"></script>
<script src="/js/lightbox.min.js" type="text/javascript"></script>
<script src="/js/lightbox.min.map" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>

</body>
</html>

