---
name: Max Manders
---
{% include header.html %}


<div class="container">

    <div class="row">
        <div id="header">
          <a href="/">
            <h1>Max Manders</h1>
            <h2>a bit of dev, a bit of ops</h2>
          </a>
        </div>
    </div>

    <div class="row">
        {{ content }}
    </div>

    <div class="row" id="pagination"> 
    
        {% if paginator.next_page %}
          <a class="nav-previous pull-left" href="/page{{ paginator.next_page }}">&laquo; Older</a>
        {% endif %}

        {% if paginator.previous_page == 1 %}
          <a class="nav-next pull-right" href="/">Newer &raquo;</a>
        {% elsif paginator.previous_page %}
          <a class="nav-next pull-right" href="/page{{ paginator.previous_page }}">Newer &raquo;</a>
        {% endif %}

    </div>
</div>

{% include footer.html %}
