---
layout: default
---

<article class="post">
  <h3 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
  <span class="post-date"><abbr class="published-on">{{ page.date | date: "%B %d, %Y" }}</abbr></span>
  <div class="post-content">
    <p>{{ content }}</p>
  </div>
</article>

<div id="comments">
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'maxmanders';
    var disqus_identifier = '{{ page.id }}';
    var disqus_url = 'http://maxmanders.co.uk/{{ page.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>

